

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}

h3 {
    margin-bottom: .5rem;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 2px solid #020202;
    font-family: arial;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: arial;
    font-size: 17px;
	color: #fff;
    background-color: #42a245;
	border-color: #42a745;
}

#buttonInput{
	color: #fff;
	background-color: #33a745;
	border-color: #33a745;
}
#userText {
    color: white;
    font-family: arial;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #39becc;
	padding: 10px;
	border-radius: 2px;
}

.botText {
    color: white;
    font-family: arial;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #464141;
	padding: 6px;
	border-radius: 5px;
}
.border{
	border: 0px solid #fff !important;
}
.border-success {
    border-color: #fff !important;
}
.btn-success {
    color: #fff;
    background-color: #131513;
    border-color: #131513;
}
